<launch>
    <node name="color_balancing" pkg="turtlebot3_auto_sensor" type="color_balancing.py" output="screen"/>
</launch>


<!-- <launch>
	<arg name="veh"/>

	<group ns="$(arg veh)">
        <node name="anti_instagram_node" pkg="anti_instagram" type="anti_instagram_node.py" output="screen"/>
    </group>

</launch> -->
